.landing-container {
	position: relative;
	border: 1px solid #eee;
	width: 450px;
	min-height: 450px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 50% 50%;
	box-shadow: 0 0 10px 3px #eee;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.landing-container {
		max-width: 350px;
	}
}

.title {
	grid-area: 1/1/2/3;
	padding: 10px;
	color: #3a4091;
	border-bottom: 1px solid #000;
	font-size: 1.4em;
	font-weight: 500;
}

.form-group {
	grid-area: 2/1/3/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group .form-control {
	text-align: center;
	padding: 0;
	margin: 0 5px;
	height: 30px;
	border-bottom: 2px solid orange;
}

.player-init-panel {
	grid-area: 3/1/4/3;
}

.game-control {
	margin: 10px auto;
}
