.landing-container {
	position: relative;
	border: 1px solid #eee;
	max-width: 450px;
	min-height: 400px;
	margin: 20px auto;
	display: grid;
	box-shadow: 0 0 10px 3px #eee;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.landing-container {
		max-width: 350px;
	}
}

.title {
	grid-area: 1/1/2/3;
	padding: 10px;
	border-bottom: 1px solid #f35626;
	font-size: 1.4em;
	font-weight: 500;
	background-image: linear-gradient(92deg, #f35626 0%, #feab3a 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group .form-control {
	text-align: center;
	padding: 0;
	margin: 0 5px;
	height: 30px;
	border-bottom: 2px solid orange;
}

.player-init-panel {
	grid-area: 2/1/3/3;
}

.game-control {
	margin: 10px auto;
	font-weight: 400;
	color: orange;
	border-color: #feab3a;
	background-color: transparent;
}
