.block,
.block:before {
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	/* width: 80px;
	height: 80px; */
	background-color: transparent;
	border: 1px solid black;
	/* border-right-width: 0;
	border-bottom-width: 0; */
}

/* .block:nth-child(8n) {
	border-right-width: 1px;
	border-bottom-width: 1px;
} */

/* .block:before {
	position: relative;
	top: -4px;
	left: -4px;
} */
