.modal-window {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.modal-window.-open {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-curtain {
	position: fixed;
	background-color: #888;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
}

.modal-content header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	border-bottom: 1px solid #ddd;
}

.modal-content header .title {
	border-bottom: none;
	margin: 0.5em 0;
}

.modal-content {
	position: absolute;
	width: 500px;
	min-height: 300px;
	padding: 10px;
	box-shadow: 0 0 10px 0 #888;
	background-color: white;
	text-align: center;
}

.modal-content ol {
	padding-right: 30px;
}

@media screen and (max-width: 767px) {
	.modal-content {
		max-width: 90vw;
		box-sizing: border-box;
		margin: auto;
	}
}

.modal-content ul {
	display: block;
	margin-left: 20px;
	list-style-type: square;
}

.modal-content li {
	text-align: start;
	padding: 5px;
}
