.modal-window {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal-window.-open {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-curtain {
	position: fixed;
	background-color: #888;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
}

.modal-content header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
	border-bottom: 1px solid #ddd;
}

.close {
	width: 20px;
	height: 20px;
	border: 1px solid red;
	border-radius: 50%;
	margin-right: 10px;
	background-color: transparent;
}

.modal-content {
	position: absolute;
	width: 500px;
	min-height: 300px;
	padding: 10px;
	box-shadow: 0 0 15px 3px #ddd;
	background-color: white;
	text-align: center;
}

.modal-content ul {
	display: block;
	margin-left: 20px;
	list-style-type: square;
}

.modal-content li {
	text-align: start;
	padding: 5px;
}
