.game-container {
	width: 460px;
	min-height: 460px;
	position: relative;
	margin: auto;
	border: 1px solid #eee;
	box-shadow: 0 0 15px -3px #aaa;
}

@media screen and (max-width: 767px) {
	.game-container {
		max-width: 100vw;
		box-sizing: border-box;
	}
}

.game-status {
	color: black;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #bbb;
}

.game-controls-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-control {
	width: 150px;
	height: 40px;
	margin: 10px;
	color: white;
	border-color: transparent;
	background-color: orange;
	cursor: pointer;
}

.game-icon-control {
	margin: 0 10px;
	color: black;
	border-color: transparent;
	cursor: pointer;
}

.game-status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
	padding: 10px 30px;
	font-weight: bold;
}

/* Create a tooltip design */
