.game-container {
	width: 500px;
	height: 500px;
	margin: auto;
	border: 1px solid #eee;
	box-shadow: 0 0 15px -3px #aaa;
}

.game-board {
	width: 400px;
	height: 400px;
}

.block {
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	border: 1px solid black;
}
