.molecule {
	position: relative;
	height: 100%;
	width: 100%;
}

.molecule > .atom:not(.shoot) {
	left: 5%;
	top: 15%;
}

.molecule > .atom:not(.shoot):nth-child(2) {
	left: 40%;
	top: 10%;
}

.molecule > .atom:not(.shoot):nth-child(3) {
	left: 25%;
	top: 40%;
}

.atom {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 10px;
	top: 15px;
	border-radius: 50%;
	border: 1px solid black;
	visibility: visible;
	transform: translateX(0) translateY(0);
	transition: transform 0.25s linear, visibility 0s 0.25s;
}

@keyframes top {
	from {
		top: 35%;
		left: 35%;
	}

	to {
		top: -70%;
		visibility: hidden;
	}
}

@keyframes bottom {
	from {
		top: 35%;
		left: 35%;
	}

	to {
		top: 135%;
		visibility: hidden;
	}
}

@keyframes left {
	from {
		top: 35%;
		left: 35%;
	}

	to {
		left: -70%;
		visibility: hidden;
	}
}

@keyframes right {
	from {
		top: 35%;
		left: 35%;
	}

	to {
		left: 135%;
		visibility: hidden;
	}
}

.shoot.-top {
	animation: top 0.5s;
}

.shoot.-right {
	animation: right 0.5s;
}

.shoot.-bottom {
	animation: bottom 0.5s;
}

.shoot.-left {
	animation: left 0.5s;
}
